{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card w-50 h-50 ">
        <div class="card-body align-items-right">
            <form action="/qr" method="post" class="">
                <div class="input-group mb-3" >
                        <label for="urlInput" class="input-group-text">Url</label>
                        <input type="url" id="urlInput" name="url" class="form-control"/>
                </div>
                <div class="input-group mb-3" >
                        <label for="qrCap" class="input-group-text">Cap</label>
                        <input type="number" id="qrCap" name="cap" class="form-control " min="1"/>
                </div>
                <div class="col justify-content-end">
                        <button type="reset" class="btn btn-danger" >Reset</button>     
                        <button class="btn btn-success">Generate QR</button>     
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}