{% extends "base.html" %} 
{% block content %}
<script>

    async function copyToClipboard() {
        var img = document.getElementById('qrCodeIMG')
        var src = img.src;
        const response = await fetch(src);
        const blob = await response.blob();
        const item = new ClipboardItem({ 'image/png': blob });
        await navigator.clipboard.write([item]);
    }

    async function downloadImage() {
        var img = document.getElementById('qrCodeIMG')
        var src = img.src;
        const response = await fetch(src);
        const blob = await response.blob();
        const url = URL.createObjectURL(blob);

        // Crea un enlace temporal para la descarga
        const a = document.createElement('a');
        a.href = url;
        a.download = 'codigo_qr.png'; 
        document.body.appendChild(a); 
        a.click();
        document.body.removeChild(a); 
        URL.revokeObjectURL(url);
    }
</script>
<div class="d-flex justify-content-center align-items-center vh-100 flex-column flex-md-row">
    <div class="card shadow-sm" style="width: 350px; border-radius: 10px;">
        <img class="card-img-top" src="data:image/png;base64,{{ qr_image }}" id="qrCodeIMG" alt="QR Code" style="border-top-left-radius: 10px; border-top-right-radius: 10px;">
        <div class="card-body text-center">
            <h5 class="card-title">Your QR Code</h5>
            <p class="card-text">
                Please download the QR code before leaving the site. 
                You will lose access to it once you leave the page, although it will remain valid.
            </p>
            <div class="d-flex justify-content-around mt-3">
                <button onclick="downloadImage()" class="btn btn-primary">Download</button>
                <button onclick="copyToClipboard()" class="btn btn-secondary">Copy to Clipboard</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
